

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    background-color: white;
}

header {
    padding-top: 5%;
    background: #96ceb4;
    width: 100%;
    background-image: url("images/33.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro {
    font-size: 1.63em;
    font-weight: bold;
    color: green;
    background-color: white;
    margin-bottom: -100px;
}

h1 {
    font-size: 6em;
    font-weight: bold;
    color: white;
}

h1:hover {
    color: rgb(197, 194, 194);
}

.discover {
    font-size: 1.63em;
    font-weight: bold;
    color: blue;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

h3 {
    color: #ff6f69;
    font-size: 1.25em;
    margin-bottom: 0.2em;
}
p {
    text-align: center;
    color: #4643c9;
}


.content1 p {
    font-size: 1.25em;
}
.welcome {
    width: 75%;
    margin: auto;
}

.content1,
.content2,
.content3,
.content4,
.content5 {
    width: 75%;
    margin: auto;
}


#image {
    border-top: solid 1px rgb(241, 236, 236);
    border-bottom: solid 1px rgb(241, 236, 236);
    width: 75%;
    margin: auto;
    padding-bottom: 30px;
}

img {
    max-width: 100%;
}

#align li {
    /* width: 200px;
    height: 200px; */
    display: inline-block;
    width: 47%;
    margin: auto;
}



/* content 2 */
.content2 {
    border-bottom: solid 1px rgb(241, 236, 236);
}

.content2 h3 {
    font-size: 1.65em;
}

.content2 p {
    font-size: 1em;
}

#image2 li {
    display: inline-block;
    width: 47%;
    margin: auto;
    border-radius: 40px;
}





/* content 3 */
.content3 {
    border-bottom: solid 1px rgb(241, 236, 236);
}

.content3 h3 {
    font-size: 1.65em;
}

.content3 p {
    font-size: 1em;
}

#image3 li {
    display: inline-block;
    width: 47%;
    margin: auto;
}





/* content 4 */
.content4 {
    border-bottom: solid 1px rgb(241, 236, 236);
}

.content4 h3 {
    font-size: 1.65em;
}

.content4 p {
    font-size: 1em;
}

#image4 li {
    display: inline-block;
    width: 47%;
    margin: auto;
}



/* content 5 */
.content5 {
    border-bottom: solid 1px rgb(241, 236, 236);
}

.content5 h3 {
    font-size: 1.65em;
}

.content5 p {
    font-size: 1em;
}

#image5 li {
    display: inline-block;
    width: 47%;
    margin: auto;
}



/* bottomclass1 */
#bottomclass1 {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 5%;
}

#bottomclass1 li {
    display: inline-block;
    width: 45%;
    margin: auto;
    align-items: flex-start;
}

#bottomclass1 li h3 {
    text-align: left;
    font-size: 1.65em;
    padding-top: -5%;
}

#bottomclass1 li p {
    text-align: left;
    font-size: 1em;
    padding-top: 2%;;
}



/* bottomclass2 */
#bottomclass2 {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 5%;
}

#bottomclass2 li {
    display: inline-block;
    width: 45%;
    margin: auto;
    align-content: center;
}

#bottomclass2 li h3 {
    text-align: left;
    font-size: 1.65em;
    padding-top: -5%;
}

#bottomclass2 li p {
    text-align: left;
    font-size: 1em;
    padding-top: 2%;;
}





/* bottomclass3 */
#bottomclass3 {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 5%;
}

#bottomclass3 li {
    display: inline-block;
    width: 45%;
    margin: auto;
}

#bottomclass3 li h3 {
    text-align: left;
    font-size: 1.65em;
    padding-top: -5%;
}

#bottomclass3 li p {
    text-align: left;
    font-size: 1em;
    padding-top: 2%;;
}





#border {
    border-right: solid 0.5px rgb(241, 236, 236) ;
    border-left: solid 0.5px rgb(241, 236, 236);
}
#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: solid 10px greenyellow;
    border-bottom: solid 10px orange;
    background-color: green;
}

a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: chartreuse;
}

a:focus {
    color: white;
    background-color: orange;
}