
@import "import-styles.css";
body {
    text-align: center;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    color: white;
}

header {
    background-color: orange;
}

p {
    font-size: 20px;
}