

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    background-color: white;
}


h1 {
    font-size: 6em;
    font-weight: bold;
    color: rgb(18, 56, 138);
    text-shadow: 0px 1px 1px #222;
    margin-bottom: -40px;
}

h1:hover {
    color: rgb(11, 32, 77);
}

h2 {
    font-size: 1.63em;
    font-weight: bold;
    color: rgb(63, 44, 230);
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    border-bottom: 2px solid;
}

h3 {
    color: #292727;
    font-size: 1.25em;
    margin-bottom: 0.2em;
}
p {
    text-align: center;
    color: #292727;
}





.header {
    padding-top: 5%;
    background: linear-gradient(to top, #fff, transparent 60%),
        #96ceb4 url("images/Header\ Image\ 2.jpg") no-repeat center;
    /* width: 100%; */
    height: 850px;
    /* box-sizing: border-box; */
    background-size: cover;
    /* box-shadow: inset 0 0 50px 10px #222; */
}






/**************content1************/
.content1 {
    width: 50%;
    margin: 50px auto 50px;
}
.content1 p {
    font-size: 1.25em;
}

.content1 img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
    border-bottom:  solid 5px rgb(95, 93, 209);
    border-radius: 50px 10px 50px 10px;
}

/******************************************/





/************* tropical ****************/
.tropical {
    width: 50%;
    margin: 30px auto 30px;
    border-bottom: solid 1px rgb(241, 236, 236);
}

.tropical h3 {
    font-size: 1.65em;
}

.tropical p {
    font-size: 1em;
}

.tropical img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
    border-bottom:  solid 5px rgb(95, 93, 209);
    border-radius: 50px 10px 50px 10px;
}

/***************************************************/






/**************adventureandcuisine************/
.adventureandcuisine {
    width: 75%;
    margin: 30px auto 30px;
    border-bottom: solid 1px rgb(241, 236, 236);
}

.adventure,
.cuisine {
    width: 46.5%;
}

.adventure img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
    border-bottom:  solid 5px rgb(95, 93, 209);
    border-radius: 50px 10px 50px 10px;
}
.cuisine img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
    border-bottom:  solid 5px rgb(95, 93, 209);
    border-radius: 10px 50px 10px 50px;
}
.adventure h3,
.cuisine h3 {
    text-align: left;
}
.adventure p,
.cuisine p {
    font-size: 1em;
    text-align: left;
}

.adventure ul,
.cuisine ul {
    text-align: left;
}

/***********Adventure***********/
.adventure {
    float: left;
}


/***********Cuisine***********/
.cuisine {
    float: right;
}

.group {
    content: "";
    display: table;
    clear: both;
}

/************************************************/



/************ Unwind **********************/
.unwind {
    width: 50%;
    margin: 30px auto 30px;
    border-bottom: solid 1px rgb(241, 236, 236);
}

.unwind h3 {
    font-size: 1.65em;
}

.unwind p {
    font-size: 1em;
}

.unwind img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
    border-bottom:  solid 5px rgb(95, 93, 209);
    border-radius: 50px 10px 50px 10px;
}

/***************************************************/



/**************eventandwedding************/
.eventandwedding {
    width: 75%;
    margin: 30px auto 30px;
    border-bottom: solid 1px rgb(241, 236, 236);
    overflow: auto;
}

.event,
.wedding {
    width: 46.5%;
}

.event img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
    border-bottom:  solid 5px rgb(95, 93, 209);
    border-radius: 50px 10px 50px 10px;
}
.wedding img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
    border-bottom:  solid 5px rgb(95, 93, 209);
    border-radius: 10px 50px 10px 50px;
}
.event h3,
.wedding h3 {
    text-align: left;
}
.event p,
.wedding p {
    font-size: 1em;
    text-align: left;
}



/***********event***********/
.event {
    float: left;
}


/*********** wedding ***********/
.wedding {
    float: right;
}

/* .group {
    content: "";
    display: table;
    clear: both;
} */

/************************************************/





#image {
    border-top: solid 1px rgb(241, 236, 236);
    border-bottom: solid 1px rgb(241, 236, 236);
    width: 75%;
    margin: auto;
    padding-bottom: 30px;
}

img {
    max-width: 100%;
}

#align li {
     display: inline-block;
    width: 47%;
    margin: auto;
}














/************ escape **********************/
.escape {
    width: 50%;
    margin: 30px auto 30px;
    border-bottom: solid 1px rgb(241, 236, 236);
}

.escape h3 {
    font-size: 1.65em;
}

.escape p {
    font-size: 1em;
}

.escape img {
    width: 100%;
    box-shadow: 0 2px 20px -12px #222;
    border-bottom:  solid 5px rgb(95, 93, 209);
    border-radius: 50px 10px 50px 10px;
}

/***************************************************/





#border {
    border-right: solid 0.5px rgb(241, 236, 236) ;
    border-left: solid 0.5px rgb(241, 236, 236);
}
#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: solid 10px #1e1d61;
    border-bottom: solid 10px #1e1d61;
    background-color:#4643c9;
}

a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: chartreuse;
}

a:focus {
    color: white;
    background-color: orange;
}




/* Media Queries ************************/

@media (max-width: 960px) {
    body {
        background-color: royalblue;
    }
    P {
        color: white;
    }
}

@media (max-width: 600px) {
    body {
        background-color: darkred;
    }
    P {
        color: white;
    }
}